#panelcollapseactivo {
    background-color: #c0ffc0;
}

#bodycollapseactivo {
    background-color: #f0fff0;
}

#panelcollapseinactivo {
    background-color: #dadada;
}

#bodycollapseinactivo {
     background-color: #f2f2f2;
 }


